* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ececec;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin: 16px 0 16px 0;
}
h2 {
    font-size: 20px;
    margin: 16px 0 8px 0;
}
h3 {
    font-size: 16px;
    margin: 8px 0 4px 0;
}
img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    margin: 16px 0;
}
p {
    font-size: 16px;
    margin: 12px;
}
ul {
    padding: 0;
    margin: 8px 0;
}
ol {
    padding: 0;
    margin: 8px 0;
}
li {
    font-size: 16px;
    margin: 12px 0;
}
a {
    color: #007bff;
    text-decoration: none;
}